* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.main-color {
  color: #ff5829 !important;
}
.main-colorbg {
  background-color: #ff5829 !important;
}
.link-light:hover {
  color: #ff5829 !important;
  font-weight: bold !important;
}
